<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offer letter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 28px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <table>
        <tr style="width: 100%;">
            <td>
                <img src="https://rdv-bucket.s3.amazonaws.com/images/fd87a9d8-1482-4b80-b4ad-59d01539ad0b.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding: 60px;">
                <p>{{date}}</p>
                <br />
                <p>Dear {{name}},</p>
                <br />
                <p>We are absolutely thrilled to extend to you an offer to become a Campus Ambassador for Rendezvous'23-'24, IIT Delhi - taking place in October 2023! As a member of our team, you will be at the forefront of promoting our festival on your campus and igniting excitement among your peers. The duration of the Internship is from {{date}} to 15 October, 2023. This is an incredible opportunity for you to showcase your leadership and management skills, while also gaining valuable experience in event planning and networking. </p>
                <br />
                <p>While the internship will be work from home, you will still be a pivotal part of team Rendezvous'23-'24. Also, the fun and excitement won't be any less! Throughout the duration of the internship, you will have access to a plethora of incentives, including but not limited to exclusive goodies, merchandise, online courses, and VIP concert passes- all based on performance. We are confident that you will bring exceptional value to our team and will not only grow as an individual but also help Rendezvous'23-'24 reach new heights. </p>
                <br />
                <p>We are committed to providing a supportive and stimulating environment for our ambassadors. We can't wait to have you join our team and are excited to embark on this journey with you. Get ready for an unforgettable experience! </p>
                <br />
                <p>Regards,</p>
                <p>Team Rendezvous'23-'24</p>
            </td>
        </tr>
        <tr>
            <td>
                <table style="margin: 20px 60px; width: 1320px">
                    <tr style="width: 100%;">
                        <td>
                            <img src="https://rdv-bucket.s3.amazonaws.com/images/1bd73208-b9d4-46b3-9dfa-2e89bc1d28d1.svg" height="200px" alt="">
                        </td>
                        <td style="text-align: right;">
                            <img src="https://rdv-bucket.s3.amazonaws.com/images/51964434-78a0-499c-a42f-d791bcf5eade.svg" height="200px" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 50px; border-top: 100px solid transparent;">
            <td style="background-color: #593A9E;">
                
            </td>
        </tr>
    </table>
</body>
</html>