<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offer letter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
        code {
            font-family: 'Courier New', Courier, monospace !important;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <table style="background-color: #F2F2F2;">
        <tr>
            <td style="text-align: center; padding: 50px 0 0 0;">
                <table style="width: min(700px, 100%); background-color: white; margin: auto;">
                    <tr>
                        <td style="padding: 50px; text-align: left;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Dear {{name}},
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Congratulations on becoming a part of the special Campus Ambassador crew for Rendezvous! Please find attached your official offer letter. We're truly delighted to have you with us.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        As Campus Ambassadors of Rendezvous, you will be tasked with various assignments from time to time  - these will all be available on your <a href="https://cap.rendezvousiitd.com/" style="text-decoration: none; color: #4B9ABD;">CA Portal</a>. Login details are as follows:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <table style="width: max-content;">
                                            <tr>
                                                <td style="padding-right: 20px;">CA ID :</td>
                                                <td>
                                                    <code>{{ca_id}}</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right: 20px;">Login ID :</td>
                                                <td>
                                                    <code>{{email}}</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right: 20px;">Password :</td>
                                                <td>
                                                    <code>{{password}}</code>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        We will also be giving a tutorial of how to use the CA Portal, where we will address any queries.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Don't worry, we have special perks and rewards waiting for you. Remember, your passion and dedication are crucial for the success of Rendezvous. Please ensure timely completion of the assigned tasks.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        For now, please stay tuned. You will soon be added to the WhatsApp community, where we will provide further details about your role. Please do reach out if you have any queries.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Best wishes,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Vidyadarshini R
                                        <br />
                                        Coordinator, Publicity
                                        <br />
                                        +91 9003380881
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Stuti Lohani
                                        <br />
                                        Core Team Member, Publicity
                                        <br />
                                        +91 9999625403
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>