<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
        code {
            font-family: 'Courier New', Courier, monospace !important;
            text-decoration: none;
            color: black;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <table style="background-color: #F2F2F2;">
        <tr>
            <td style="text-align: center; padding: 50px 0 0 0;">
                <table style="width: min(700px, 100%); background-color: white; margin: auto;">
                    <tr>
                        <td style="padding: 50px; text-align: left;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 10px;">
                                        <h1>IIT Delhi presents RendezvousX: 'A Contemporary Fantasia'</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #777777; padding-bottom: 15px; font-weight: 600;">
                                        Where cultures blend, and the modern meets the traditional - coming to you this October!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; border-bottom: 1px solid #D9D9D9;">
                                        <a href="https://rendezvouspublicity.substack.com/p/e42914a6-f7a5-4654-8a65-63a148142638?" target="_blank">Read in Substack</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; padding-top: 20px;">
                                        Dear Reader,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        It's that time of year again when the enchantment of Rendezvous: IITD's annual cultural fest sweeps through Delhi-NCR! This year, Rendezvous is all set to happen from the <b>5th to the 8th of October 2023!</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Over 160,000 attendees from more than 1,000 colleges flocked to Rendezvous last time, making it a resounding success. This festival is renowned for its cultural and musical performances and <b>Pronites</b> where acclaimed national artists such as <b>Nucleya</b>, <b>The Local Train</b> and <b>Shankar-Ehsaan-Loy</b> have graced the stage. Our illustrious history also includes hosting distinguished speakers like <b>Aman Maheshwari</b> and <b>Ashneer Grover</b>, adding intellectual vibrance to its celebration of creativity and talent.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/d951ffd2-bf28-4771-a836-6ed637875924_6000x4000.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        RDV'23 is wrapped up, and RDV'24 is on the horizon for the next year. In the middle of this, we wanted to embrace a new, evolved identity while returning to our old normal - honouring the cherished Rendezvous legacy. Hence, we're back bigger and brighter as <b>RendezvousX</b>!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <h2>'Contemporary Fantasia' - This Year's Theme</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        In keeping with our tradition of pushing boundaries, this year's theme is <b>'Contemporary Fantasia'</b>.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Fantasia: A thing composed of a mixture of different forms or styles. A captivating blend of art, music and imagination - a cultural symphony that transcends boundaries.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        With this Contemporary Fantasia, we're bringing you an unforgettable fusion of modern creativity and rich cultural heritage. Expect immersive art, electrifying musical performances, and a celebration of diverse cultures like never before.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        But Rendezvous isn't just about performances and entertainment; it's also a platform to showcase your talents and compete with the best.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/86375e72-f160-4377-94b9-6f84cae3631d_6000x4000.jpg" alt="image-2" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <h2>Unleash your inner competitive spirit!</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        At RendezvousX, our lineup of competitions is as diverse as the talents they showcase. From electrifying dance-offs and soul-stirring music battles to intellectually stimulating debates, contemporary art exhibitions, and innovative tech showdowns, our competitions span a spectrum of disciplines to provide a platform for every passion. Whether you're an artist, an engineer, a debater, or a dancer, there's a competition that will challenge and celebrate your unique skills and creativity.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        As the countdown to <b>RDVX</b> begins, we invite you to stay tuned for more updates and announcements. We're excited to provide an exuberant experience for all attendees and participants this October.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/d90116cf-5f33-428b-876e-0fda27a3b2b1_6000x4000.jpg" alt="image-3" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Join us to experience the RDV magic and create lifelong memories to be treasured in your hearts.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <b>Stay tuned for the magic!</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Follow us on social media for the latest updates:
                                        <br />
                                        <a href="https://www.instagram.com/rendezvous.iitd/" target="_blank">Instagram</a>
                                        <br />
                                        <a href="https://in.linkedin.com/company/rendezvous-iit-del" target="_blank">LinkedIn</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0 0 20px 0;">
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="background-color: #E9C77D; padding: 20px;">
                            <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/images/rendezvous-white.svg" style="width: max(50%, 280px); margin: auto;" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="text-align: center; padding: 0 0 50px 0; color: #777777;">
                            &copy; 2023 <a href="#">publicity@rendezvous.com</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>