<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
        code {
            font-family: 'Courier New', Courier, monospace !important;
            text-decoration: none;
            color: black;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <table style="background-color: #F2F2F2;">
        <tr>
            <td style="text-align: center; padding: 50px 0 0 0;">
                <table style="width: min(700px, 100%); background-color: white; margin: auto;">
                    <tr>
                        <td style="padding: 50px; text-align: left;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 10px; border-bottom: 1px solid #D9D9D9;">
                                        <h1>Unveiling RendezvousX Pre-Fest: A Sneak Peak into the Fantasia!</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; padding-top: 20px;">
                                        Dear Enthusiasts,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        We hope this newsletter finds you in high spirits and buzzing with excitement! Over the last weekend, the IIT Delhi campus came alive with vibrant energy and an electric atmosphere as we hosted the <b>RendezvousX Pre Fest</b> - a sneak peek into the spectacular extravaganza that awaits you this year.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        The Pre-Fest kicked off with a burst of creativity and entertainment! It all began with captivating <b>digital arts workshops</b>, engaging <b>drama plays</b>, enthralling <b>movie screenings</b> by Spic Macay, thought-provoking business quizzes, and much more. Day 1 concluded with mesmerising performances by the Music Club - <b>'Euphony'</b> that left the audience spellbound. 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pre-1.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Day 2 began exactly where we left off with <b>Blitzkrieg</b> and <b>Offbeat</b>. Organized by the music and dance clubs, day two featured Blitzkrieg Semifinals, promising pure musical magic. Offbeat on the other hand Offbeat gave our dear fresher batch a chance to break a leg and show off their skills in front of their new batchmates, seniors and more. 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pre-2.jpg" alt="image-2" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pre-3.png" alt="image-3" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        If that wasn't enough, there were multiple other events organized by various cultural clubs. The literary club presented a <b>cryptic crossword challenge</b> that tested the wits of the participants. Meanwhile, the debating society hosted the <b>Stalwarts Freshers Debate</b>, showcasing the impressive oratory skills of our freshers.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pre-4.png" alt="image-4" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        The Pre Fest reached its mesmerizing crescendo with <b>Bollywood Day</b>! Presented by <b>EnVogue</b>, The Fashion Society of IIT Delhi, this day celebrated the vibrant world of Indian cinema. From iconic dance moves to fashion-forward styles, the magic of the silver screen came to life at IIT Delhi. Participants embraced their inner Bollywood stars, donning captivating outfits and showcasing their dance prowess. The evening was filled with masti (fun) and entertainment, bringing together students from all backgrounds to revel in the enchanting world of Bollywood. It was a feast for the senses and a delightful culmination of our Pre-Fest, leaving everyone eagerly anticipating the grand spectacle that RendezvousX 2023 promises to be.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pre-5.png" alt="image-5" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        And just like that, our Pre-Fest came to a resplendent close, leaving us brimming with excitement and anticipation. We witnessed outstanding talent, shared unforgettable moments, and felt the pulse of what promises to be an extraordinary RendezvousX 2023.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        As we bid adieu to the Pre Fest, we now turn our gaze towards the main event, RendezvousX, scheduled from <b>5th to 8th October</b>. It's time to prepare for the grand crescendo, where culture, art, music, and festivities will unite in a symphony of experiences that you won't want to miss. 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Mark your calendars, rally your friends, and stay tuned for more electrifying updates as we prepare to make history together. RendezvousX 2023 awaits you, and it's going to be bigger, better, and more exhilarating than ever before!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Follow us on social media for the latest updates:
                                        <br />
                                        <a href="https://www.instagram.com/rendezvous.iitd/" target="_blank">Instagram</a>
                                        <br />
                                        <a href="https://in.linkedin.com/company/rendezvous-iit-del" target="_blank">LinkedIn</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0 0 20px 0;">
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="background-color: #E9C77D; padding: 20px;">
                            <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/images/rendezvous-white.svg" style="width: max(50%, 280px); margin: auto;" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="text-align: center; padding: 0 0 50px 0; color: #777777;">
                            &copy; 2023 <a href="https://www.rendezvousiitd.com">Rendezvous, IIT Delhi</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>