<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
        code {
            font-family: 'Courier New', Courier, monospace !important;
            text-decoration: none;
            color: black;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <table style="background-color: #F2F2F2;">
        <tr>
            <td style="text-align: center; padding: 50px 0 0 0;">
                <table style="width: min(700px, 100%); background-color: white; margin: auto;">
                    <tr>
                        <td style="padding: 50px; text-align: left;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 10px; border-bottom: 1px solid #D9D9D9;">
                                        <h1>RendezvousX: A Journey Through Music and Culture</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; padding-top: 20px;">
                                        Dear Reader,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        We are back with another version to transport you to the enchanting world of RendezvousX. A must-read to dive and get to know our electrifying <b>Pronites</b> and <b>Live Stage</b> Events a little better!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <h2>Live Stage</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Rendezvous Live Stage Events serve as the vibrant heart of the festival, consistently enchanting audiences with mesmerizing performances by a diverse array of incredible artists. What makes these events truly special is their dynamic nature, unfolding throughout the day and offering a platform for numerous talented individuals and groups to showcase their skills and entertain the audience.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        From morning to night, the Live Stage is a hub of cultural exploration, taking attendees on an immersive journey through the electrifying realms of music, dance, and entertainment. As the sun rises, emerging artists and local talents kickstart the day with their raw passion and creativity, setting the tone for what's to come. As the day progresses, the stage continues to be a bustling epicenter of activity, featuring a rich tapestry of performances, ranging from soulful acoustic sets to high-energy dance routines.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Last year's performance by <b>The Machine Gun Band</b>, with their pulsating beats and powerful vocals blending rock and funk, exemplifies the eclectic range of talent that graces the Live Stage. It's not just about individual acts; it's about the collective celebration of music and culture that happens throughout the day, creating a tapestry of experiences that cater to diverse tastes and passions.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/live-1.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/live-2.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <h2>Pronites</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Rendezvous Pronites are more than just events; they are monumental experiences that leave an indelible mark on those who attend, creating lifelong memories to be cherished forever. These nights offer a holistic and captivating experience that engages all the senses. From the moment you step into Pronites, you are transported into a world of pure musical enchantment. The stage comes alive with captivating performances that not only entertain but enrapture your senses. The artists who grace these events, like <b>Nucleya</b>, <b>Sunidhi Chauhan</b>, <b>Benny Dayal</b>, and <b>Shankar Ehsaan Loy</b>, bring a unique blend of talent and charisma, making every Pronite a star-studded spectacle that ignites the atmosphere.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Each year, the organizers commit to raising the bar even higher, promising attendees an experience like no other. Expect to be serenaded by soulful voices that touch the deepest corners of your heart, moved by powerful beats that make you dance with abandon, and transported to a world of pure musical euphoria that transcends the ordinary. 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Rendezvous Pronites are more than music events; they're a cultural phenomenon uniting diverse people through music's universal language. These nights, integral to the festival, create lasting memories by drawing people together through a shared love for music and culture. Pronites' magic lies in the beats that foster connections, proving music's power to unite and create bonds year after year.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pro-1.jpg" alt="image-2" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/pro-2.jpg" alt="image-2" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Get ready to dance, laugh, and create memories that will last a lifetime, all within the enchanting realm of <b>'RendezvousX - A Contemporary Fantasia.'</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Follow us on social media for the latest updates:
                                        <br />
                                        <a href="https://www.instagram.com/rendezvous.iitd/" target="_blank">Instagram</a>
                                        <br />
                                        <a href="https://in.linkedin.com/company/rendezvous-iit-del" target="_blank">LinkedIn</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0 0 20px 0;">
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="background-color: #E9C77D; padding: 20px;">
                            <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/images/rendezvous-white.svg" style="width: max(50%, 280px); margin: auto;" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="text-align: center; padding: 0 0 50px 0; color: #777777;">
                            &copy; 2023 <a href="https://www.rendezvousiitd.com">Rendezvous, IIT Delhi</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>