<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            font-size: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td {
            width: 50%;
            vertical-align: top;
        }
        body {
            line-height: 1.5;
        }
        code {
            font-family: 'Courier New', Courier, monospace !important;
            text-decoration: none;
            color: black;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <table style="background-color: #F2F2F2;">
        <tr>
            <td style="text-align: center; padding: 50px 0 0 0;">
                <table style="width: min(700px, 100%); background-color: white; margin: auto;">
                    <tr>
                        <td style="padding: min(50px, 8%); text-align: left;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 10px; border-bottom: 1px solid #D9D9D9;">
                                        <h1>RendezvousX: A Contemporary Fantasia - The Awaited Moment Arrives</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; padding-top: 20px;">
                                        Dear Reader,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        The moment we've all been waiting for is finally upon us! RendezvousX is here, and the Contemporary Fantasia is building up the excitement to a fever pitch. As we embark on this enchanting journey through music and culture, we can't help but wonder: what surprises await us this year?
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/e4fb124f20.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Prepare for electrifying dance-offs in the <b>WGD</b> that will leave you breathless, soul-stirring music battles <b>Blitzkrieg</b> that will tug at your heartstrings, intellectually stimulating debates that will challenge your wit, and contemporary art exhibitions that ignite your imagination. Get set for innovative tech showdowns that push creativity to the limit. It's all at your doorstep!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Rendezvous isn't just about cultural performances; it's also a platform to compete with the best to stimulate your mind. From intellectually stimulating debates , mind-bending quizzes, and hackathons to impromptu poetry writing we have something for everyone.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/e4fb124f24.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        The Live Stage is set to come alive again, with emerging artists and local talents ready to infuse the air with their raw passion and creativity. From the break of dawn to the twilight hours, the Live Stage will continue to be a place of vibrant cultural exploration, offering you a chance to immerse yourself in the electrifying realms of music, dance, and entertainment. 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/e4fb124f28.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        And then there are the Pronites, those monumental experiences that have left us spellbound year after year. As we step into the world of pure musical enchantment, we can't help but wonder which artists will grace the stage this time. What unique talents and charisma will they bring to captivate our senses and ignite the atmosphere? The promise of soulful voices, powerful beats, and musical euphoria awaits, but what surprises are in store for us this time around?
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Every year, We strive to raise the bar even higher, pushing the boundaries of what's possible. And this year is no different. As we gather together, we can feel that something extraordinary is brewing in the air. It's a feeling of anticipation, of being on the cusp of something magical and unforgettable.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/Newsletter/e4fb124f2c.jpg" alt="image-1" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        So, dear reader, get ready to dance, laugh, and create memories that will last a lifetime, all within the enchanting realm of 'RendezvousX-Contemporary Fantasia.' The adventure is about to begin, and the stage is set for an extraordinary journey through music and culture. Stay tuned as we unravel the mysteries and unveil the surprises that await us in this year's Rendezvous.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Let the music play, the lights shine, and the magic of RendezvousX unfold before our very eyes.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        See you at the festival!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        Follow us on social media for the latest updates:
                                        <br />
                                        <a href="https://www.instagram.com/rendezvous.iitd/" target="_blank">Instagram</a>
                                        <br />
                                        <a href="https://in.linkedin.com/company/rendezvous-iit-del" target="_blank">LinkedIn</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0 0 20px 0;">
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="background-color: #E9C77D; padding: 20px;">
                            <img src="https://rdv-bucket.s3.ap-south-1.amazonaws.com/images/rendezvous-white.svg" style="width: max(50%, 280px); margin: auto;" alt="">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: min(700px, 100%); margin: auto;">
                    <tr>
                        <td style="text-align: center; padding: 0 0 50px 0; color: #777777;">
                            &copy; 2023 <a href="https://www.rendezvousiitd.com">Rendezvous, IIT Delhi</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>